@model RCTH.Models.ViewModels.ProfileDetailsViewModel
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<section class="profile-section">
    <partial name="ProfileSidebarPartial" />
    <section class="profile-main-content">
        <div class="profile-top-boxes-wrapper">
            <div>

                @if (DateTime.Now >= @Model.MinDateNextDonation || @Model.MinDateNextDonation == null)
                {
                    <div class="">
                        <strong>Имате възможност за кръводарение</strong>
                    </div>
                }
                else
                {
                    <div class="">
                        <strong>Възможност за дарение след:</strong>
                        <p>@Model.MinDateNextDonation</p>
                    </div>
                }

            </div>

            <div>
                @if (DateTime.Now >= @Model.MinDateNextDonation || @Model.MinDateNextDonation == null)
                {
                    <div class="">
                        <strong>Имате възможност за кръводарение</strong>
                    </div>
                }
                else
                {
                    <div class="">
                        <strong>
                            Препоръчителна дата за следващо дарение:
                        </strong>
                        <p>@Model.MinDateNextDonation</p>
                    </div>
                }

            </div>
            <div>
                <div class="">
                    <strong>Кръвна група:</strong>
                    @if (Model.BloodGroup == null)
                    {
                        <p>Неизвестна</p>
                    }
                    else
                    {
                        <p>@Model.BloodGroup.Name</p>
                    }
                </div>
            </div>

        </div>

        <div class="">
            <div class="donation-whole-table">
                <header class="donations-header">
                    <div class="title">Общо</div>
                    <div>|</div>
                    <div class="count">
                        @if (@Model.DonationData.Count == 1)
                        {
                            <div>
                                @Model.DonationData.Count Дарение
                            </div>
                        }
                        else
                        {
                            if (Model.DonationData.Count == 0)
                            {
                                <div>Няма данни</div>
                            }
                            else
                            {
                                <div>
                                    @Model.DonationData.Count Дарения
                                </div>
                            }

                        }
                    </div>
                </header>
                <table class="donations-table">
                    <thead>
                        <tr>
                            <th class="text-center">Id</th>
                            <th>Количество</th>
                            <th>Дата</th>
                            <th>Получил</th>
                        </tr>
                    </thead>
                    @foreach (var donation in Model.DonationData)
                    {
                        <tr>
                            <td class="text-center">
                                <p>@donation.Id</p>
                            </td>
                            <td>
                                <p>@donation.Quantity ml</p>
                            </td>
                            <td>
                                <p>@donation.Date</p>
                            </td>
                            <td>
                                @if (@donation.Receiver == null)
                                {
                                    <p>Неизвестен</p>
                                }
                                else
                                {
                                    <p>@donation.Receiver</p>
                                }
                            </td>
                        </tr>
                    }
                </table>
            </div>
        </div>
    </section>
</section>
