@model IEnumerable<RCTH.Areas.Identity.Data.MedResult>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Изследвания</h1>

<p>
    <a asp-action="Create">Добави</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Donation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.dateReleased)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HIV)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HepatitisB)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HepatitisC)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Syphilis)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PCR)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Doctor)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Donation.EGN)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.dateReleased)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HIV)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HepatitisB)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HepatitisC)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Syphilis)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PCR)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Doctor)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Редактирай</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Информация</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Изтрий</a>
            </td>
        </tr>
}
    </tbody>
</table>
